<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Активация учётной записи</title>
  <style>
    .email {
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 24px;
      background-color: #F7F8FD;
      height: 100vh;
      text-align: center;
    }
    .email > img {
      max-width: 25rem;
    }
    .email > p {
      font-size: 0.85rem;
    }
    #activationContainer {
      background-color: white;
      padding: 10px;
      margin: 10px auto;
      color: black;
      text-align: center;
      max-width: 30rem;
    }
  </style>
</head>
<body>
  <div class="email">
    <div id="activationContainer">
      <h3>Добрый день, {{name}}</h3>
      <p>Пожалуйста, активируйте свою учётную запись, перейдя по ссылке ниже</p>
      <a href="{{host}}/activation?token={{emailToken}}" target="_blank">
        Нажмите здесь
      </a>
    </div>
    <p>Эта ссылка действительна в течение 24 часов</p>
  </div>
</body>
</html>
