.news-editor {
  &__form {
    max-width: 1200px;
    margin-bottom: 20px;
  }

  &__title {
    text-align: center;
  }

  &__publish {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
    width: 100%;
  }
}
