.newsItem {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #404040;

  &__title {
    color: #646cff;
  }

  &__note {
    color: yellow;
  }

  &__buttons {
    text-align: right;
  }

  &__edit,
  &__delete {
    margin-left: 10px;
    cursor: pointer;
  }

  .wmde-markdown blockquote {
    color: white;
    border-left: 0.25em solid #646cff;
    background-color: #242424;
  }
}
